
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header {
    background-color: #003b46;
    color: #fff;
    padding: 1em;
    text-align: center;
}
.logo {
    width: 80px;
}
main {
    padding: 2em;
}
h2 {
    color: #cba135;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #003b46;
    color: white;
}
